<div class="wrapper">
    <div>
        <br/>
        <div style="margin-right: auto;" class="row">
            <div class="col-md-10"></div>
            <div style="text-align: right;" class="col-md-2">
                <a style="text-align: right; cursor: pointer; color: crimson; padding: 10px 10px 10px 10px;" (click)="onLogout()"><i class="material-icons">logout</i> <span style=" background: crimson; padding: 2px 5px; color: white; ">Logout</span></a>
            </div>
        </div>
        <br/>
        <br/>
        <router-outlet></router-outlet>
    </div>
</div>
